.activity-body {
  width: 100%;
  height: 100%;
}

.bubble {
  background-image: url("../../assets/bubble.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 70vw;
  height: 45vh;
  margin: 25px auto 0px auto;
}

.slot-machine {
  background-image: url("../../assets/slot-machine.svg");
  background-size: 88%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
  height: 153%;
  padding: 5px;
}

.slot-upper-row {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 37%;
}

.slot-upper-row h3 {
  font-family: "Rowdies", cursive;
  font-size: 72px;
  color: #162079;
}

.slot-lower-row {
  width: 75%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 37%;
  padding: 0 20px;
}

.slot-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ffffff;
  border: 10px solid #a791ff;
  border-radius: 16px;
  margin: 20px;
}

.activity-text {
  font-family: "Rowdies", cursive;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
}

.slot-btn-row {
  position: relative;
  top: 46%;
}

.activity-btn {
  width: 70%;
  background-color: #8fda53;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
}

.activity-ticket {
  background: #ffffff;
  border: 8px solid #d0d0d0;
  width: 46%;
  position: relative;
  top: 51%;
  left: 27.75%;
  margin-bottom: 50px;
}

.activity-ticket h5 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 59px;
  margin: 0;
}

.ticket-text-body {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 22px;
  line-height: 59px;
  margin: 0;
}

.ticket-text-bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 59px;
  margin: 0;
}

.ticket-text-medium {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 22px;
  line-height: 59px;
  margin: 0;
}

.hidden {
  display: none;
}
